.body {
  overflow-x: hidden;
}
.container {
  max-width: 1420px;
  min-width: 280px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;

  &--advantages {
    @media (min-width: $tablet-xs-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $tablet-lg-width) {
      flex-wrap: nowrap;
    }
  }
  
  &--callback {
    @media (min-width: $tablet-lg-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}
.container-flex {
  display: flex;
}
.body--about .container-flex {
  align-items: center;
}
.no-scroll {
  overflow: hidden;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}