$basic-blue: #1a2432;
$basic-white: #fff;
$basic-red: #cf1b2e;
$basic-grey: #959595;
$basic-red: #d63949;
$basic-border-grey: #dddee0;
$basic-gold-star: #ffd52e;
$basic-submit-red: #c81d2f;
$basic-border-red: #9f1726;