$mobile-sm-width: 280px;
$mobile-md-width: 375px;
$mobile-lg-width: 420px;
$tablet-xs-width: 568px;
$tablet-sm-width: 768px;
$tablet-lg-width: 1024px;
$desktop-lg-width: 1204px;
$container-max-width: 1420px;
