.rest-about-decor {
  text-align: center;
}
.rest-about-decor img {
  max-width: 100%;
  height: auto;
}
.rest-about-slider {
  display: flex;
  width: 100%;
}
.rest-about-slider-item {
  flex: 1 0 100%;
}
.rest-about-slider__img {
  max-width: 100%;
  height: auto;
}