.rest-about__header {
  font-family: "Cambria", "Arial", sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}
.rest-about-decor {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.rest-about-decor img {
  max-width: 100%;
  height: auto;
}
.rest-about-slider .slick-dots {
  @include list-reset;
  display: flex;
  justify-content: center;
}
.rest-about-slider .slick-dots li {
  margin-right: 10px;
}
.rest-about-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  color: transparent;
  font-size: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: $basic-slick-dot;
}
.slick-active button{
  background-color: $basic-blue;
}
.rest-about-slider .slick-dots li button:focus {
  outline: none;
}
.rest-about-slider__img {
  @media (min-width: $tablet-xs-width) {
    margin: 25px;
  }
}
.rest-about-slider .slick-arrow {
  display: none;
}