.rest-about-team {
  font-size: 16px;
}
.rest-about-team-pos {
  text-transform: uppercase;
}
.name-container {
  background-color: $basic-submit-red;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  color: $basic-white;
}
.photo-container {
  height: 280px;
  width: 100%;
}