.about {
  position: relative;
  font-size: 24px;
}
.about__img {
  width: 100%;
  height: 284px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;

  @media (min-width: $tablet-sm-width) {
    height: 716px;
    background-size: auto;
  }

  @media (min-width: $tablet-lg-width) {
    background-size: cover;
  }
}
.about-inst {
  padding-top: 55px;
  max-width: 608px;
  margin: auto;

  @media (min-width: $tablet-sm-width) {
    position: absolute;
    width: 608px;
    padding-bottom: 53px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
    background-color: $basic-white;
  }

  @media (min-width: $tablet-lg-width) {
    width: 80%;
    max-width: 1420px;
    padding-left: 2%;
    padding-right: 2%;
    top: 76%;
  }
}
.about-inst__header {
  margin-top: 0;
  margin-bottom: 34px;
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 1em;
  color: $basic-blue;
  text-align: center;
}
.about-inst__link {
  display: block;
  margin-bottom: 36px;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 0.6em;
  color: $basic-red;
  text-align: center;
  text-decoration: none;
}
.about-inst-gallery {
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 20px;
  text-align: center;
  
  @media (min-width: $tablet-lg-width) {
    display: flex;
    justify-content: center;
  }
}
.about-inst-gallery-item {
  padding: 5px;
  padding-bottom: 0;
  float: left;
  max-width: 29.9%;
  
  @media (min-width: 542px) {
    float: none;
    display: inline-block;
  }

  @media (min-width: $tablet-sm-width) {
    max-width: 13.9%;
  }

  @media (min-width: $tablet-lg-width) {
    width: 200px;
    height: 200px;
    max-width: 200px;
  }
}
.about-inst-gallery__img {
  max-width: 100%;
  height: auto;

  @media (min-width: $tablet-lg-width) {
    width: 100%;
    height: auto;
  }
}

