
.about {
  @media (min-width: $tablet-sm-width) {
    background-color: $basic-layout-bg;
  }
}
.about--padding {
  padding-top: 80px;

  @media (max-width: $tablet-xs-width) {
    padding-top: 0;
  }
}
.about-container {
  padding-bottom: 75px;
  padding-top: 50px;

  @media (min-width: $tablet-sm-width) {
    max-width: 1420px;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $basic-white;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
  }

  @media (min-width: $tablet-lg-width) {
    margin: auto;
  }
}
.rest-about-descr {
  padding: 50px 10px;
  font-size: 18px;
  
  @media (min-width: $tablet-lg-width) {
    display: flex;
    justify-content: space-around;
    padding-left: 61px;
    padding-right: 61px;
  }
}
.rest-about-descr-decor {
  display: none;

  @media (min-width: $tablet-lg-width) {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
  }
}
.about-header-icon {
  fill: $basic-submit-red;
  margin-right: 15px;
}
.rest-about-article {
  color: $basic-blue;

  @media (min-width: $tablet-lg-width) {
    flex: 0 1 408px;
  }
}
.rest-about-article__header {
  display: flex;
  align-items: center;
  font-family: "Cambria", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
}
.rest-about-article__paragraph {
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 0.8em;
  line-height: 1.8;
}