.advantages {
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: $tablet-sm-width) {
    padding-top: 77px;
  }
}
.advantages-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 37px 15px 37px 15px;
  background-size: cover;
  background-position: center center;
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 18px;
  color: $basic-white;


  @media (min-width: $tablet-lg-width) {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }


  &--place-amount {
    background-image: url(../img/advantages-block/main-2-1.jpg);
    animation-delay: .1s;
  }

  &--geo {
    background-image: url(../img/advantages-block/main-2-2.jpg);
    animation-delay: .2s;

    @media (max-width: $tablet-sm-width) {
      background-image: url(../img/advantages-block/main-2-2tb.jpg);

    }
  }

  &--cusine {
    background-image: url(../img/advantages-block/main-2-3.jpg);
    animation-delay: .3s;
  }

  &--atmo {
    background-image: url(../img/advantages-block/main-2-4.jpg);
    animation-delay: .4s;
  }

  &--wifi {
    background-image: url(../img/advantages-block/main-2-5.jpg);
    animation-delay: .5s;
  }

  @media (min-width: $tablet-xs-width) {
    flex: 1 1 43%;
    margin-right: 12px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &:last-of-type {
      flex: 1 1 100%;
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-lg-width) {
    flex-direction: column;
    flex: 1 1 245px;
    margin-right: 2%;
    text-align: center;
    min-height: 245px;
    padding-top: 63px;
    background-size: cover;


    &:nth-of-type(2n) {
      margin-right: 2%;
    }
    &:last-of-type  {
      flex: 1 1 245px;
      margin-right: 0;
    }
  }
}
.advantages-item-icon {
  width: 50px;
  margin-right: 13px;
  flex-shrink: 0;

  @media (min-width: $tablet-lg-width) {
    margin-bottom: 30px;
  }
}
.advantages-item-icon__img {
  max-width: 100%;
  height: auto;
}

.slideShow {
  animation-name: showOnScroll;
}
@keyframes showOnScroll {
  from { min-height: 0;}
  to {  min-height: 245px;}
}
