.callback {
  padding-bottom: 64px;
}
.callback__header {
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 30px;
  color: $basic-blue;
  text-align: center;
  font-weight: normal;
}
.callback-decor {
  margin-bottom: 23px;
  margin-top: 26px;
  text-align: center;
}
.callback-decor__img {
  max-width: 100%;
  height: auto;
}
.callback__text {
  margin-top: 47px;
  margin-bottom: 53px;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 1em;
  color: $basic-blue;
  line-height: 1.4;

  @media (min-width: $tablet-xs-width) {
    max-width: 468px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
  }
}
.callback-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-xs-width) {
    max-width: 486px;
    margin: auto;
  }
}
.callback-form__input {
  margin-bottom: 10px;
  padding: 15px 15px;
  border: none;
  border-bottom: 1px solid $basic-border-grey;
  text-align: center;

  &:focus {
    outline: none;
    border-bottom: 1px solid $basic-red;
  }
}
.callback-form__submit {
  margin-top: 43px;
  border: none;
  background-color: $basic-blue;
  color: $basic-white;
  padding: 15px 20px;
  border-radius: 50px;

  @media (min-width: $tablet-sm-width) {
    width: 223px;
    margin: auto;
    margin-top: 67px;
  }
}