.callback {
  padding-bottom: 64px;

  @media (min-width: $tablet-sm-width) {
    background-image: url(/img/bg/about-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.callback__header {
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 30px;
  color: $basic-blue;
  text-align: center;
  font-weight: normal;

  @media (min-width: $tablet-lg-width) {
    flex: 1 1 100%;
  }

  @media (min-width: $tablet-lg-width) {
    margin-bottom: 73px;
  }
}
.callback-decor {
  margin-bottom: 23px;
  margin-top: 26px;
  text-align: center;
  
  @media (min-width: $tablet-lg-width) {
    display: none;
  }
}
.callback-decor-desktop {
  display: none;
  
  @media (min-width: $tablet-lg-width) {
    display: block;
  }
}
.callback-decor__img {
  max-width: 100%;
  height: auto;
}
.callback__text {
  margin-top: 47px;
  margin-bottom: 53px;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 1em;
  color: $basic-blue;
  line-height: 1.4;

  @media (min-width: $tablet-xs-width) {
    max-width: 486px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-lg-width) {
    text-align: left;
  }
}
.callback-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-xs-width) {
    max-width: 486px;
    margin: auto;
  }
}
.callback-form__input {
  margin-bottom: 10px;
  padding: 15px 15px;
  border: none;
  border-bottom: 1px solid $basic-border-grey;
  text-align: center;
  background-color: transparent;

  &:focus {
    outline: none;
    border-bottom: 1px solid $basic-red;
  }

  @media (min-width: $tablet-lg-width) {
    text-align: left;
    padding-left: 0px;
  }
}
.callback-form__submit {
  margin-top: 43px;
  border: none;
  background-color: $basic-blue;
  color: $basic-white;
  padding: 15px 20px;
  border-radius: 50px;
  transition: background-color .3s, box-shadow .3s;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 32px 0px rgba(9,12,51,1);
    background-color: $basic-submit-red;
  }

  @media (min-width: $tablet-sm-width) {
    width: 223px;
    margin: auto;
    margin-top: 67px;
  }

  @media (min-width: $tablet-lg-width) {
    margin-right: auto;
    margin-left: 0;
  }
}
.callback-block {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: $basic-white;
  text-align: center;
  box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.55);
  width: 474px;
  display: none;
  background-image: url('../img/bg/callback-block-bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 60% 50%;
  
  @media (min-width: $tablet-lg-width) {
    display: block;
  }
}
.callback-block-logo-wrapper {
  max-width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}
.callback-block-logo-wrapper img {
  max-width: 100%;
  height: auto;
}
.download-btn--callback {
  width: 224px!important;
}