.callback-img-wrapper {
  width: 242px;
  margin: auto;
}
.callback-img-wrapper img {
  max-width: 100%;
  height: auto;
}
.contacts .callback__header {
  margin-top: 10px;
}
.contacts .callback {
  padding-bottom: 84px;

  @media (min-width: $tablet-sm-width) {
    flex: 0 0 50%;
  }
}
.contacts {
  @media (min-width: $tablet-sm-width) {
    display: flex;
  }
}
.contacts .geo {
  @media (min-width: $tablet-sm-width) {
    flex: 0 0 50%;
    position: relative;
  }
}
.contacts .geo-info {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 50;
  transform: translate(0%);
  transform: translateX(-50%);
}
.contacts .container--callback {
  flex-direction: column;
}