.events__header {
  margin-top: 57px;
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: $basic-blue;
}
.events-decor-wrapper {
  max-width: 260px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.event-decor__img {
  width: 100%;
  height: auto;
}