.events-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
}
.events-gallery-item {
  min-height: 145px;
  flex: 1 1 145px;
  padding: 10px;
  margin: 5px;
}
.events-gallery__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  border: 1px solid $basic-submit-red;
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: $basic-white;
}
.events-description-text-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 48px;
  padding-bottom: 48px;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: $basic-blue;
}