.events {
  @media (min-width: $tablet-xs-width) {
    background-color: $basic-layout-bg;
  }
}
.events-container {
  padding-top: 57px;
  padding-bottom: 80px;
  max-width: 1420px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: $basic-white;
  margin-top: 25px;
}
.events__header {
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: $basic-blue;
}
.events-decor-wrapper {
  max-width: 260px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.event-decor__img {
  width: 100%;
  height: auto;
}