$section-rotate: 30;

//.flex-gallery {
//  display: flex;
//  width: 100%;
//  min-height: 510px;
//  overflow: hidden;
//  transform: translate3d(0, 0, 0);
//}
//.flex-gallery-item {
//  position: relative;
//  flex-grow: 2;
//  transform: skew(-25deg);
//  overflow: hidden;
//  margin-left: -1px;
//  transition: flex-grow .3s;
//  z-index: 10;
//
//  &:hover {
//    flex-grow: 3;
//  }
//
//  &:first-of-type {
//    flex-grow: 1;
//    overflow: visible;
//  }
//
//  &:last-of-type {
//    flex-grow: 1;
//    overflow: visible;
//    z-index: 5;
//  }
//}
//.flex-gallery-item__unit {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  width: 500px;
//  left: -200%;
//  transform: skew(25deg);
//  background-size: cover;
//  background-repeat: no-repeat;
//}
.gallery-container {
  position: relative;
  height: 100vh;
  max-height: 627px;
  min-width: 320px;
  overflow: hidden;

  @media (min-width: $tablet-lg-width) {
    max-height: 93vh;
  }

  @media (max-height: 520px) {
    height: 560px;
  }
}
.flex-gallery {
  display: flex;
  flex-direction: row;
  width: 280%;
  height: 100%;
  overflow: hidden;
  transform: translateX(-30%);

  @media (min-width: $tablet-xs-width) {
    width: 160%;
    transform: translateX(-17%);
  }

  @media (min-width: $tablet-lg-width) {
    width: 200%;
    transform: translateX(-25%);
  }

  @media (min-width: 1280px) {
    width: 175%;
    transform: translateX(-20%);
  }
}
.flex-gallery-item {
  position: relative;
  flex: 1;
  width: 100%;
  transform: skewX(-30deg) translateZ(0);
  overflow: hidden;
  margin-left: -2px;
  transition: flex 1s, flex-grow .3s;

  @media (min-width: $tablet-lg-width) {
    transform: skewX(-51deg);
  }

  &:hover {
    @media (min-width: $tablet-lg-width) {
      flex-grow: 1;
    }
  }

  &:hover:after {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:hover:before {
    background-position: 100% 30%!important;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    left: -100%;
    width: 400%;
    height: 100%;
    transform: skewX(30deg);
    transition: background-position 3s;

    @media (min-width: $tablet-lg-width) {
      transform: skewX(51deg);
      width: 300%;
    }
  }

  &:after {
    position: absolute;
    display: block;
    content: '';
    left: -100%;
    width: 400%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 1s;

    @media (min-width: $tablet-lg-width) {

    }
  }

  &:nth-child(1):before {
    background-image: url(../img/bg/flex-gallery-item1.jpg);
    background-size: cover;
    background-position: center center;

    @media (min-width: $tablet-lg-width) {
      left: -50%;

      &:hover {
        flex: 1;
      }
    }
  }

  &:nth-child(2):before {
    background-image: url(../img/bg/flex-gallery-item3.jpg);
    background-size: cover;
    background-position: center center;

    @media (min-width: $tablet-lg-width) {
      left: -30%;
    }
  }

  &:nth-child(3):before {
    background-image: url(../img/bg/flex-gallery-item2.jpg);
    background-size: cover;
    background-position: center center;

    @media (min-width: $tablet-lg-width) {

    }
  }

  &:nth-child(4):before {
    background-image: url(../img/bg/flex-gallery-item5.jpg);
    background-size: cover;
    background-position:  center center;

    @media (min-width: $tablet-lg-width) {
      left: -150%;
    }
  }

  &:nth-child(5):before {
    background-image: url(../img/bg/flex-gallery-item4.jpg);
    background-size: cover;
    background-position: center center;

    @media (min-width: $tablet-lg-width) {
      left: -180%;
    }
  }

  &--passive:hover {
    flex: 1!important;
  }
}
//.flex-gallery-item__unit {
//  position: absolute;
//  display: block;
//  left: -100%;
//  width: 400%;
//  height: 100%;
//  transform: skewX(30deg);
//  background-position: center center;
//  background-size: cover;
//}