.gallery-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 43px;
  padding-bottom: 35px;
  color: $basic-white;
  text-align: center;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 18px;

  @media (min-width: $tablet-lg-width) {
    position: static;
  }
}
.gallery-info-logo {
  width: 200px;
  margin: auto;
  margin-bottom: 40px;

  @media (min-width: $tablet-sm-width) {
    order: 3;
    flex: 1 1 100%;
  }

  @media (min-width: $tablet-lg-width) {
    position: absolute;
    width: 340px;
    height: 283px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.gallery-info-logo__img {
  max-width: 100%;
  height: auto;
}
.gallery-info__phone {
  font-weight: bold;
  margin-bottom: 35px;
}
.gallery-info__address {
  font-weight: bold;
  margin-bottom: 14px;
}
.gallery-info__schedule {
  font-size: 0.8em;
  line-height: 1.8;
  margin-bottom: 25px;

  &--info {
    margin-bottom: 0;
    margin-top: -5px;
  }
}
.gallery-info-socials {
  @include list-reset;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-sm-width) {
    justify-content: flex-end;
  }

  &--info {
    justify-content: center!important;
    margin-bottom: 0!important;
  }
}
.gallery-info-socials__item {
  margin-right: 15px;
}
.gallery-info .gallery-info-socials__item a i{
  color: $basic-white;
}
.gallery-info-socials__item a {
  @include link-reset;
  color: $basic-blue;
}
.container--mod {
  @media (min-width: $tablet-sm-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
.gallery-info-contacts {
  @media (min-width: $tablet-sm-width) {
    order: 2;
    flex: 1 1 50%;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $tablet-lg-width) {
    position: absolute;
    height: 75px;
    top: 10%;
    right: 5%;
    font-size: 1.2em;
  }
}
.gallery-info-add {
  @media (min-width: $tablet-sm-width) {
    order: 1;
    text-align: left;
    flex: 1 1 50%;
  }

  @media (min-width: $tablet-lg-width) {
    position: absolute;
    height: 80px;
    top: 5%;
    left: 5%;
    font-size: 1.2em;
  }
}
.order-btn--gallery {
  @media (min-width: $tablet-sm-width) {
    order: 4;
  }

  @media (min-width: $tablet-lg-width) {
    position: absolute;
    width: 230px;
    height: auto;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}