.footer {
  padding-top: 40px;
  background-color: $basic-blue;
  font-size: 16px;
  color: $basic-white;
  overflow: hidden;
}
.footer-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav {
  display: none;

  @media (min-width: $tablet-xs-width) {
    display: block;
    flex: 0 1 auto;
  }
}
.footer-nav-list {
  @media (min-width: $tablet-xs-width) {
    @include list-reset;
    display: flex;
    flex-wrap: wrap
  }
}
.footer-nav-list-item {
  margin-right: 61px;
  margin-bottom: 27px;

  &:last-of-type {
    margin-right: 0;
  }
}
.footer-nav-list-item__link {
  @include link-reset;
  color: $basic-white;
}
.footer-logo-link {
  display: block;
  width: 182px;
  margin: auto;

  @media (min-width: $tablet-xs-width) {
    flex: 0 0 182px;
    align-self: flex-start;
    margin: 0;
    margin-right: 60px;
  }
}
.footer-logo-link__img {
  max-width: 100%;
  height: auto;
}
.footer-bottom-wrapper {
  @media (min-width: $tablet-xs-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid opacify($basic-border-grey, 0.1);
  }
}
.footer-contacts {
  padding-bottom: 36px;

  @media (min-width: $tablet-sm-width) {
    flex: 1 1 auto;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
}
.footer-contacts__phone {
  margin-top: 38px;
  margin-bottom: 28px;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-sm-width) {
    text-align: left;
    margin: 0;
    align-items: center;
  }
}
.footer-contacts-socials {
  @include list-reset;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-sm-width) {
    justify-content: space-between;
    flex: 0 1 8%;
    margin: auto;
  }
}
.footer-contacts-socials-item {
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }
}
.footer-contacts-socials__link {
  @include link-reset;
  color: $basic-white;
  transition: color .3s;

  &:hover{
    color: $basic-submit-red;
  }
}