.header-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: $basic-white;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 100;
  height: 100vh;
  transition: transform .3s ease-in-out;

  @media (min-width: $tablet-xs-width) {
    display: none;
    flex-wrap: wrap;
  }

  @media (max-width: $tablet-xs-width) {
    flex-wrap: wrap;
  }
  
  &--open {
    display: flex;
    animation-name: fadeInRight;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }
}
.header-nav--open .order-btn--nav {
  margin-bottom: 50%!important;
}
.body--about .header-nav {
  @media (min-width: $tablet-lg-width) {
    position: static;
    display: flex;
    height: auto;
    transform: translate(0%);
    background-color: transparent;
    flex: 1 1 auto;
  }
}
.header-nav--mobile {
  transform: translate(100%);
}
.header-nav-list {
  @include list-reset;
  text-align: center;
  padding-top: 20px;

  @media (min-width: $tablet-xs-width) {
    flex: 0 1 50%;
    padding-top: 65px;
  }
  @media (max-width: $tablet-xs-width) {
    margin: auto;
  }
}
.body--about .header-nav-list {
  @media (min-width: $tablet-lg-width) {
    display: flex;
    flex: 0 1 662px;
    padding: 0;
    justify-content: space-between;
    margin-left: auto;
  }
}
.header-nav-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-nav__link {
  @include link-reset;
  font-size: 1em;
  text-transform: uppercase;
  color: $basic-blue;

  &--active {
    position: relative;
  }
}
.header-nav__link--active > span {
  @media (min-width: $tablet-lg-width) {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 1px;
    background-color: $basic-submit-red;
  }

}
.body--about .header-nav__link {
  @media (min-width: $tablet-lg-width) {
    color: $basic-white;
    display: block;
  }
}
.header-nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}
.header-nav-btn--open {
  position: relative;

  & .header-nav-btn__decor:nth-child(2) {
    opacity: 0;
  }

  & .header-nav-btn__decor:nth-child(1) {
    transform: translate(0, 8px) rotate(45deg);
  }

  & .header-nav-btn__decor:nth-child(3) {
    transform: translate(0, -8px) rotate(-45deg);
  }
}
.header-nav-btn__decor {
  width: 26px;
  height: 4px;
  background-color: $basic-white;
  transition: visibility .5s, transform .3s;
}
.header-nav-btn--open {

}
.body--about .header-nav-btn {
  @media (min-width: $tablet-lg-width) {
    display: none;
  }
}
.header-nav-tablet {
  position: relative;
  display: none;
  text-align: center;

  @media (min-width: $tablet-xs-width) {
    display: block;
    flex: 0 1 50%;
  }
}
.body--about .header-nav-tablet {
  @media (min-width: $tablet-lg-width) {
    display: none;
  }
}
.header-nav-tablet__logo {
  width: 100%;
  height: auto;

  @media (min-width: $tablet-sm-width) {
    width: 75%;
  }
}
.header-nav-tablet__decor {
  position: absolute;
  right: 0;
  top: 10%;
  bottom: 10%;
  width: 1px;
  background-color: $basic-border-grey;
}
.header-nav-tablet-socials {
  @include list-reset;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.header-nav-tablet-socials__item {
  margin-right: 15px;

  &:last-of-type {
    margin-right: 0;
  }
}
.header-nav-tablet__phone {
  margin-bottom: 81px;
}
.header-nav-tablet__address {
  margin-bottom: 25px;
}
