.header {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: $basic-blue;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 16px;

  @media (min-width: $tablet-lg-width) {
    display: none;
  }
}
.header-logo {
  display: block;
}

.body--about .header {
  display: block;
}
