.menu-download {
  padding: 10px;

  @media (min-width: $tablet-xs-width) {
    display: flex;
    max-width: 1420px;
    margin: auto;
  }

  @media (min-width: $tablet-lg-width) {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.menu-download-block {
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  cursor: pointer;
  transition: opacity .3s;

  &:hover {
    opacity: 0.8;
  }

  &:hover > .download-btn {
    background-color: $order-btn-hover;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-xs-width) {
    flex: 1 1 auto;
    margin-right: 10px;
    max-height: 345px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-lg-width) {
    flex: 0 1 660px;
    height: 340px;
    overflow: hidden;
  }
}
.menu-download-block-info {
  border: 1px solid $basic-border-grey;
  text-align: center;
  color: $basic-white;
  padding-top: 38px;
  padding-bottom: 38px;

  &:hover > .download-btn {
    background-color: $order-btn-hover;
    transform: translateY(-5px);
    box-shadow: 0px 0px 32px 0px rgba(9, 12, 51, 1);
  }

  @media (min-width: $tablet-xs-width) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media (min-width: $tablet-lg-width) {
    padding-top: 54px;
    padding-bottom: 35px;
  }
}
.menu-download-block-info__header {
  font-family: "Cambria", "Arial", sans-serif;
  font-size: 21px;
  margin-top: 31px;
  margin-bottom: 37px;

  @media (min-width: $tablet-xs-width) {
    margin-bottom: 64px;
  }
}
.menu-icon {
  fill: $basic-white;
}
.download-btn {
  @include link-reset;
  width: 189px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: $basic-submit-red;
  border-radius: 50px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;
  border: none;
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: "Calibri", "Arial", sans-serif;
  font-size: 14px;
  transition: background-color .3s,
  box-shadow .3s,
  transform .3s;

  &--active {
    background-color: $order-btn-hover;
    transform: translateY(-5px);
    box-shadow: 0px 0px 32px 0px rgba(9, 12, 51, 1);
  }
}
.menu-download__link-total {
  @include link-reset;
  color: $basic-white;
  display: block;

  &:hover > .menu-download-block {
    opacity: 0.8;
  }

  &:hover > .callback-block {
    opacity: 0.8;
  }

  &:hover > .menu-download-block .download-btn {
    background-color: $order-btn-hover;
    transform: translateY(-5px);
    box-shadow: 0px 0px 32px 0px rgba(9, 12, 51, 1);
  }
}
