.news-article {
  position: relative;
  min-width: 298px;
  border: 1px solid $basic-border-grey;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 16px;
  color: $basic-blue;
  transition: box-shadow .3s;

  &:hover > .news-article-info {
    outline: 1px solid $article-hover-red;
  }

  &:hover > .news-article-img-wrapper {
    opacity: 0.8;
  }

  @media (min-width: $tablet-xs-width) {
    min-width: 250px;
    flex: 1 1 250px;
    border: none;
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);

    &:hover {
      box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.25);
    }

    &:nth-of-type(2n) {
      display: block;
      
      @media (min-width: $tablet-lg-width) {
        display: block;
      }
    }

    &:nth-of-type(4n) {
      display: none;

      @media (min-width: $tablet-lg-width) {
        display: block;
      }
    }

    &:nth-of-type(5n) {
      display: none;

      @media (min-width: $tablet-lg-width) {
        display: block;
      }
    }
  }

  @media (min-width: $tablet-sm-width) {
    flex: 0 1 338px;
  }

  @media (min-width: $tablet-lg-width) {
    flex: 0 1 338px;
    max-width: 435px;
  }
}
.news-article-desktop-decor {
  display: none;
  position: absolute;

  @media (min-width: $tablet-lg-width) {
    display: block;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border: 1px solid $basic-article-border;
    opacity: 0.6;
    z-index: -1;
  }
}
.news-article-img-wrapper {
  max-height: 390px;
  overflow: hidden;
  transition: opacity .4s;
}
.news-article__img {
  max-width: 100%;
  height: auto;
}
.news-article-info {
  padding-left: 10px;
  padding-right: 3px;
  padding-bottom: 25px;
  border-top: none;
  box-sizing: border-box;

  @media (min-width: $tablet-lg-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
}
.news-article__time {
  padding-top: 27px;
  padding-bottom: 27px;
  font-family: "Calibri", "Arial", sans-serif;
  font-weight: lighter;
}
.news-article__header {
  margin-top: 0;
  margin-bottom: 30px;
  max-height: 44px;
  font-family: "Cambria", "Arial", sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.news-article__description {
  margin-bottom: 27px;
  font-family: "Calibri", "Arial", sans-serif;
}
.news-article-more {
  font-family: "Calibri", "Arial", sans-serif;
  color: $basic-submit-red;
  cursor: pointer;
  z-index: 10;
}
.news-article-more__link {
  @include link-reset;
  color: $basic-submit-red;
}
.news-learn-more {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: auto;

  @media (min-width: $tablet-xs-width) {
    flex: 1 1 100%;
  }
}
.news-learn-more__text {
  display: block;
  margin-bottom: 15px;
}
.news-learn-more-link {
  @include link-reset;
  display: inline-block;
  color: $basic-blue;

  &:hover > .news-preload-icon {
    transform: rotate(-180deg);
  }
}
.news-preload-icon {
  fill: $basic-blue;
  cursor: pointer;
  transition: transform .3s;
}
.news-article-block-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}