.news-item {
  @media (min-width: $tablet-sm-width) {
    background-color: $basic-layout-bg;
  }

  @media (min-width: $tablet-lg-width) {
    padding-top: 80px;
  }
}
.news-img {
  @media (min-width: $tablet-lg-width) {
    max-width: 1429px;
    margin: auto;
  }
}
.news-img img {
  max-width: 100%;
  height: auto;
}