.news {
  max-width: 1136px;
  margin: auto;
  padding-top: 75px;
}
.news-container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-sm-width) {
    justify-content: center;
  }
}
.news__header {
  text-align: center;
  margin-top: 0;
}
.news-decor {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.news-decor img {
  max-width: 100%;
  height: auto;
}
.news-item {
  @media (min-width: $tablet-sm-width) {
    background-color: $basic-layout-bg;
  }

  @media (min-width: $tablet-lg-width) {
    padding-top: 80px;
  }
}
.news-img {
  @media (min-width: $tablet-lg-width) {
    max-width: 1429px;
    margin: auto;
  }
}
.news-img img {
  width: 100%;
  height: auto;
}