.order-btn {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: $basic-submit-red;
  border-radius: 50px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;
  border: none;
  display: none;
  cursor: pointer;
  transition: background-color .3s, box-shadow .3s;

  &:hover {
    box-shadow: 0px 0px 32px 0px rgba(9,12,51,1);
    background-color: $order-btn-hover;
  }

  &--header {
    display: none;
    width: 142px;
    font-size: 0.8em;
    
    @media (min-width: $tablet-sm-width) {
      display: none;
    }
  }

  &--nav {
    margin-top: 20px;
    font-size: 0.8em;

    @media (min-width: $mobile-sm-width) {
      display: block;
    }

    @media (min-width: $tablet-xs-width) {
      align-self: self-start;
      margin-left: 226px;
    }
  }

  &--gallery {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 1em;
    min-width: 300px;
    height: auto;
  }

  &--order-block {
    display: block;
    font-size: 0.8em;
  }

  &--callback {
    display: block;
    font-size: 0.8em;
    margin-bottom: 48px!important;

    @media (min-width: $tablet-xs-width) {
      margin-bottom: 90px;
    }
    
    @media (min-width: $tablet-lg-width) {
      display: none;

    }
  }

  &--news-sub {
    display: block;
    font-size: 0.8em;
  }

  &--article {
    display: block;
    font-size: 0.6em;
    margin-right: auto!important;
  }

  &--callback-block {
    display: block;
    width: 224px!important;
    font-size: 0.8em;
    font-weight: 500;
  }

  &--events {
    display: block;
    font-size: 0.8em;
    max-width: 300px;
    margin: auto;
  }

  &--news-item {
    display: block;
    font-size: 0.8em;
    max-width: 300px;
    margin: auto;
  }

  &--popup {
    display: block;
    font-size: 0.8em;
    max-width: 230px;
    margin: auto;
  }

  &:focus {
    outline: none
  }

  @media (min-width: $tablet-xs-width) {
    max-width: 223px;
    margin: auto;
  }
}
.body--about .order-btn--nav {
  @media (min-width: $tablet-lg-width) {
    display: block;
    width: 155px;
    margin-right: 0;
  }
}