.order-btn {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: $basic-submit-red;
  border-radius: 50px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;
  border: none;
  display: none;
  cursor: pointer;

  &--header {
    display: none;
    width: 142px;
    font-size: 0.8em;
    
    @media (min-width: $tablet-sm-width) {
      display: none;
    }
  }

  &--nav {
    margin-top: 20px;
    font-size: 0.8em;

    @media (min-width: $mobile-sm-width) {
      display: block;
    }

    @media (min-width: $tablet-xs-width) {
      align-self: self-start;
      margin-left: 226px;
    }
  }

  &--gallery {
    display: block;
    font-size: 0.8em
  }

  &--order-block {
    display: block;
    font-size: 0.8em;
  }

  &--callback {
    display: block;
    font-size: 0.8em;
    margin-bottom: 48px!important;

    @media (min-width: $tablet-xs-width) {
      margin-bottom: 90px;
    }
    
    @media (min-width: $tablet-lg-width) {
      display: none;

    }
  }

  &--news-sub {
    display: block;
    font-size: 0.8em;
  }

  &--article {
    display: block;
    font-size: 0.8em;
  }

  &--callback-block {
    display: block;
    font-size: 0.8em;
  }

  &:focus {
    outline: none
  }

  @media (min-width: $tablet-xs-width) {
    max-width: 223px;
    margin: auto;
  }
}
.body--about .order-btn--nav {
  @media (min-width: $tablet-lg-width) {
    display: block;
    width: 155px;
    margin-right: 0;
  }
}